name: Lint

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "server/app/**"
      - "server/config/**"
      - "server/lib/**"
  push:
    branches: [ "main" ]
    paths:
      - "server/app/**"
      - "server/config/**"
      - "server/lib/**"

jobs:
  rubocop:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.2
          bundler-cache: true

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run RuboCop
        run: bundle exec rubocop --parallel
