name: SonarQube Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

#      - name: Set up Node
#        uses: actions/setup-node@v4
#        with:
#          node-version: 20
#      - run: cd client && npm ci && npm run test -- --coverage

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - run: |
          cd munchora-server-relational-db
          bundle add simplecov simplecov_json_formatter
          bundle exec rspec


      - name: Verify coverage file
        run: |
          echo "Current working directory: $(pwd)"
          ls -R munchora-server-relational-db | grep coverage || echo "No coverage dir found"
          ls -lah munchora-server-relational-db/coverage || echo "coverage dir missing"


      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.organization=munchora-test
            -Dsonar.projectBaseDir=./munchora-server-relational-db