name: SonarQube Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

#      - name: Set up Node
#        uses: actions/setup-node@v4
#        with:
#          node-version: 20
#      - run: cd client && npm ci && npm run test -- --coverage

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      - run: |
          cd munchora-server-relational-db
          # Install test dependencies for coverage
          bundle add simplecov simplecov-json
          bundle exec rspec  # Remove the --format option


      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner \
            -Dsonar.projectBaseDir=. \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}